
#div h1{
    font-size: 5vw;
    color: #fff;
}

#header_image {
    position: relative;
    left:30px;
    top: 20px;
    border-radius: 50%;
    border-color: darkolivegreen;
    border-style: solid;
}
.header {
    background-image: url("/Resume9/Images/clark-van-der-beken-BSjlgIx4gBQ-unsplash\ -\ Copy.jpg");
    text-align: center;
     color: #D6D3DB;
 }


.nav-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

h1{
  font-size: 3vw;
  color: #D6D3DB;
  text-align: center;
  }
h3 {
  color:#37675C
}
h4 {
  color: #6F919C
}
body {
    background-color:#D6D3DB;
    color: #4A4453;
    font-size: 100%;
    margin: 1rem 3rem;
    border: #BF5846;
    border-style: solid;
    border-radius: 10px;
    padding: 1rem;
}

h3 menu {
  color: #2F4858;
  font-size: larger;
  background-color: #F2CCC5;
}
a:hover {
  background-color: #F2CCC5;
  color: white;
}
.nav-grid {
  display: column;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: #4A4453;
  padding: 3rem;
  border-radius: 6px;
  color:#fff
  
}
button {
  border-radius: 10px;

}

footer {
    background-color: #2F4858;
    color: antiquewhite;
    text-align: end;
  }
/*----------Mobile---------------------*/

@media screen and (max-width: 425px) {
.nav-grid {
        display: grid;
        grid-template-columns: 1fr;
  }

 h1{
     font-size: 1.5em;
    }

 h2{
   font-size: 1.35em
  }
    h3{
   font-size: 1em;
    }

    body {
      margin: 1rem 1.2rem;
      padding: 3% ;
      font-size: 100%;
    }
    .header {  background-image: url("/Resume9/Images/smallbg.jpg");
    }
    /*--------------------Tablet------------*/
    @media screen and (max-width: 768px){

    .nav-grid {
      display: grid;
      grid-template-columns: 1fr;
    }
    h1 {
      font-size: 1.8em;
     }
     h2{
    font-size: 1.5em
     }
     h3{
    font-size: 1.25em;
     }
     }
     body {
      margin: 1rem 1.2rem;
      padding: 3% ;
      font-size: 100%;
    }
    .header {  background-image: url("/Resume9/Images/medium\ \(2\).jpg");
    }
  }
